@import 'components/shared.scss';

.add-collectable-card {
    margin: 2rem 2rem 2rem 2rem;

    .add-collectable-btn {
        @include add-new-card(#b3b3b3, inset, rgba(148,148,148,1), 0px 0px 17px 5px);
        
    }
}


.preview-img {
    max-width: 50%;
}

.collectable-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .collectable-card{
        max-width: 25%;
        .user-input-img {
            max-width: 100%;
            max-height: 100%;
        }
        .collectable-footer {
            @extend %card-footer;
            #edit-collectable-btn {
                @extend %edit-btn;
            }
            #delete-collectable-btn {
                @extend %delete-btn;
            }
        }
    }
}
