.collectable-list-container .collectable-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.collectable-list-container .collectable-card .collectable-footer {
  display: flex;
  justify-content: space-between;
  background-color: white !important;
  padding: 0rem 1rem 1rem 1rem; }

.collectable-list-container .collectable-card .collectable-footer #edit-collectable-btn {
  background-color: transparent;
  border-color: transparent;
  color: green;
  padding: 0; }

.collectable-list-container .collectable-card .collectable-footer #delete-collectable-btn {
  background-color: transparent;
  border-color: transparent;
  color: darkred;
  padding: 0; }

#collection-page-container {
  display: flex;
  flex-direction: column; }
  #collection-page-container h4 {
    margin-top: 1rem;
    align-self: center;
    font-size: 2.5rem;
    font-family: 'Muli', sans-serif; }
  #collection-page-container #archive-btn-div {
    align-self: center; }
  #collection-page-container #current-btn-div {
    align-self: center; }

#archive-btn {
  background-color: #6ca2b8;
  border-color: #6b99ac; }

.collectable-list-container {
  margin: 1rem 4rem 2rem 4rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .collectable-list-container .add-collectable-btn {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
    -webkit-box-shadow: inset 0px 0px 17px 5px #949494;
    -moz-box-shadow: inset 0px 0px 17px 5px #949494;
    box-shadow: inset 0px 0px 17px 5px #949494;
    margin: 2rem 2rem 25rem 2rem; }
    .collectable-list-container .add-collectable-btn .plus-btn {
      font-size: 50px; }
    .collectable-list-container .add-collectable-btn p {
      font-family: 'Muli', sans-serif;
      font-size: 1.5rem; }
  .collectable-list-container .collectable-card {
    margin: 2rem 2rem 2rem 2rem;
    min-width: 15rem;
    min-height: 35rem;
    max-width: 15rem;
    max-height: 35rem;
    font-family: 'Muli', sans-serif; }
    .collectable-list-container .collectable-card .card-body {
      overflow-y: auto; }
      .collectable-list-container .collectable-card .card-body ::-webkit-scrollbar {
        display: none;
        color: blue; }
    .collectable-list-container .collectable-card .user-input-img {
      padding: .50rem .50rem .50rem .50rem;
      width: 100%;
      height: 15vw;
      object-fit: cover; }

.preview-img {
  max-width: 60%;
  align-self: center; }

#dropzone-div {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important; }
