@import 'components/shared.scss';

    


#archive-btn {
    background-color: rgb(108, 162, 184);
    border-color: rgb(107, 153, 172);
}

.collectable-list-container{
    margin: 2rem 4rem 2rem 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    .add-collectable-btn  {
        @include add-new-card(#b3b3b3, inset, rgba(148,148,148,1), 0px 0px 17px 5px);
        margin: 2rem 2rem 25rem 2rem;
            .plus-btn {
                font-size: 50px;
            }
                            
    }
    .collectable-card{
        margin: 2rem 2rem 2rem 2rem;
        min-width: 15rem;
        min-height: 35rem;
        max-width: 15rem;
        max-height: 35rem;

        .card-body {
            overflow-y: auto;
            ::-webkit-scrollbar {
                display: none;
                color: blue;
            }
        }
        .user-input-img {
            padding: .50rem .50rem .50rem .50rem;
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }
        .collectable-footer {
            @extend %card-footer;
            #edit-collectable-btn {
                @extend %edit-btn;
            }
            #delete-collectable-btn {
                @extend %delete-btn;
            }
        }
    }
}

.preview-img {
    max-width: 50%;
}
#dropzone-div{
    display: flex !important;
    justify-content: right !important;
    flex-direction: column !important;
}