@mixin add-new-card($bg-color, $style, $color, $size...) {
    background-color: $bg-color;
    border-color: $bg-color;
    -webkit-box-shadow: $style $size $color;
    -moz-box-shadow: $style $size $color;
    box-shadow: $style $size $color;
}

%best-box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

%card-footer {
    display: flex;
    justify-content: space-between;
    background-color: white !important;
    padding: 0rem 1rem 1rem 1rem;
}

%edit-btn {
    background-color: transparent;
    border-color: transparent;
    color: green;
    padding: 0;
}

%delete-btn {
    background-color: transparent;
    border-color: transparent;
    color: darkred;
    padding: 0;
}

%card-size {
    min-width: 20rem;
    max-height: 30rem;
    max-width: 20rem;
    max-height: 30rem;
}