#login-div {
  width: 100wh;
  height: 100vh;
  background: linear-gradient(-45deg, #fa9906, #f85e99, #23A6D5, #6af54f);
  background-size: 400% 400%;
  -webkit-animation: Gradient 45s ease infinite;
  -moz-animation: Gradient 45s ease infinite;
  animation: Gradient 45s ease infinite; }
  #login-div #form-container {
    border-radius: 10%;
    background-color: whitesmoke;
    margin: 0rem 30rem 0rem 30rem;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    #login-div #form-container #login-form {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      #login-div #form-container #login-form #email {
        margin: 0rem 2rem 0rem 2rem; }
      #login-div #form-container #login-form #password {
        margin: 0rem 2rem 0rem 2rem; }
    #login-div #form-container #register-form {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      #login-div #form-container #register-form #registerEmail {
        margin: 0rem 2rem 0rem 2rem; }
      #login-div #form-container #register-form #registerPassword {
        margin: 0rem 2rem 0rem 2rem; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
