#login-div {
  width: 100wh;
  height: 100vh;
  font-family: 'Muli', sans-serif; }
  #login-div button {
    margin: 0rem 2rem 2.6rem 2rem; }
  #login-div #form-container {
    border-radius: 1%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-color: white;
    -webkit-box-shadow: inset 0px 0px 10px 1px #949494;
    -moz-box-shadow: inset 0px 0px 10px 1px #949494;
    box-shadow: inset 0px 0px 10px 1px #949494; }
    #login-div #form-container #login-form {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      #login-div #form-container #login-form h4 {
        text-align: center;
        margin-top: 1rem; }
      #login-div #form-container #login-form label {
        margin: 0rem 2rem 0rem 2rem; }
      #login-div #form-container #login-form #email {
        margin: 0rem 4rem 0rem 4rem; }
      #login-div #form-container #login-form #password {
        margin: 0rem 4rem .5rem 4rem; }
      #login-div #form-container #login-form #remember-me-div {
        margin-bottom: .1rem;
        align-items: center;
        display: flex;
        justify-content: left;
        margin: 0rem 2rem 0rem 2rem; }
        #login-div #form-container #login-form #remember-me-div #isChecked {
          margin-left: 1rem; }
    #login-div #form-container #register-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: .35rem; }
      #login-div #form-container #register-form h4 {
        text-align: center; }
      #login-div #form-container #register-form label {
        margin: 0rem 2rem 0rem 2rem; }
      #login-div #form-container #register-form button {
        margin-bottom: 2rem; }
      #login-div #form-container #register-form #registerEmail {
        margin: 0rem 4rem 0rem 4rem; }
      #login-div #form-container #register-form #registerPassword {
        margin: 0rem 4rem 2rem 4rem; }
