@import '../shared.scss';

#login-div {
	width: 100wh;
    height: 100vh;
    font-family: 'Muli', sans-serif;
    button{
        margin: 0rem 2rem 2.6rem 2rem;
    }

    #form-container{
        border-radius: 1%;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        @include add-new-card(white, inset, rgba(148,148,148,1), 0px 0px 10px 1px);

        #login-form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            h4 {
                text-align: center;
                margin-top: 1rem;
            }
            label {
                margin: 0rem 2rem 0rem 2rem;
            }
            
            #email {
                margin: 0rem 4rem 0rem 4rem;
            }
            
            #password {
                margin: 0rem 4rem .5rem 4rem;
            }
            #remember-me-div {
                margin-bottom: .1rem;
                align-items: center;
                display: flex;
                justify-content: left;
                margin: 0rem 2rem 0rem 2rem;
                #isChecked {
                    margin-left: 1rem;
                }
            }
        }
        
        #register-form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-top: .35rem;
            h4 {
                text-align: center;
            }
            label {
                margin: 0rem 2rem 0rem 2rem;
            }
            button {
                margin-bottom: 2rem;
            }
            #registerEmail {
                margin: 0rem 4rem 0rem 4rem;
            }
            #registerPassword {
                margin: 0rem 4rem 2rem 4rem;
            }
        }
    }
}