@import 'components/shared.scss';

body{
    background-color: rgba(108, 163, 184, 0.336);
}
.collection-list-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Muli', sans-serif;

}

.add-collection-btn {
    @include add-new-card(#b3b3b3, inset, rgba(148,148,148,1), 0px 0px 17px 5px);
    margin: 2rem 2rem 2rem 2rem;
    @extend %card-size;
    .plus-btn{
        font-size: 50px;
    }
    p {
        font-family: 'Muli', sans-serif;
        font-size: 1.5rem;
    }
}



.collection-card{
    min-width: 20rem;
    max-height: 15rem;
    max-width: 20rem;
    max-height: 15rem;
    margin: 2rem 2rem 2rem 2rem;
    @extend %best-box-shadow;
    .card-body {
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: transparent;
        h6 {
            font-size: 1.25rem;
        }
        ::-webkit-scrollbar {
            display: none;
            color: blue;
        }

    }
    .card-header {
        background-color: transparent;
        font-family: 'Muli', sans-serif;
        border-bottom: transparent;
        h5 {
            font-size: 1.5rem;
        }
    }
    .collection-footer {
        border-top: transparent;
        @extend %card-footer;
        #edit-collection-btn {
            @extend %edit-btn;
        }
        #delete-collection-btn {
            @extend %delete-btn;
        }
    }
}
