.add-collection-card {
  margin: 2rem 2rem 2rem 2rem; }
  .add-collection-card .add-collection-btn {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
    -webkit-box-shadow: inset #949494 0px 0px 17px 5px;
    -moz-box-shadow: inset #949494 0px 0px 17px 5px;
    box-shadow: inset #949494 0px 0px 17px 5px; }
