@import 'components/shared.scss';

.add-collection-card {
    margin: 2rem 2rem 2rem 2rem;

    .add-collection-btn {
        @include add-new-card(#b3b3b3, inset, rgba(148,148,148,1), 0px 0px 17px 5px);
        
    }
}

.collection-footer {
    display: flex;
    justify-content: space-between;
    background-color: white !important;
    padding: 0rem 1rem 1rem 1rem;
    
    #edit-collection-btn {
        
    }

    #delete-collection-btn {
        background-color: transparent;
        border-color: transparent;
        color: darkred;
    }
}