.add-collection-card {
  margin: 2rem 2rem 2rem 2rem; }
  .add-collection-card .add-collection-btn {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
    -webkit-box-shadow: inset 0px 0px 17px 5px #949494;
    -moz-box-shadow: inset 0px 0px 17px 5px #949494;
    box-shadow: inset 0px 0px 17px 5px #949494; }

.collection-footer {
  display: flex;
  justify-content: space-between;
  background-color: white !important;
  padding: 0rem 1rem 1rem 1rem; }
  .collection-footer #delete-collection-btn {
    background-color: transparent;
    border-color: transparent;
    color: darkred; }
